.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 0 50px;
}

.logo{
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    margin: auto 0;
}

.list{
    display: flex;
    list-style: none;
}

.list li a{
    padding: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.list li a:hover{
    color: #b4b4b4;
}